.navbar{margin-bottom: 0;}
.navbar-right{margin-right: 0;}
.mt50 {margin-top: 50px;}
.myline{width:100%; float: left; clear: both; height:53px;}
h1, h2{margin:0;}
.input-danger span.error{color:red;}
.max100{max-height: 50px;}
.relative{position:relative;}
.save-btn{position:absolute; top:0; right: 0; width: 39px; height:34px; border-top-left-radius:0; border-bottom-left-radius:0;}

span.twitter-typeahead{width:100%;}
.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {margin-bottom: 0;}
.tt-hint {display: block;width: 100%;height: 38px;padding: 8px 12px;font-size: 14px;line-height: 1.428571429;color: #999;vertical-align: middle;background-color: #ffffff;border: 1px solid #cccccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.tt-menu {min-width: 160px;margin-top: 0;padding: 5px 0;background-color: #ffffff;border: 1px solid #cccccc;border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 4px;border-top-left-radius: 0;border-top-right-radius: 0;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);background-clip: padding-box;}
.tt-suggestion {display: block;padding: 3px 20px;}
.tt-suggestion.tt-is-under-cursor {color: #fff;background-color: #428bca;}
.tt-suggestion.tt-is-under-cursor a {color: #fff;}
.tt-suggestion p {margin: 0;}
.tt-suggestion:hover{background: #337ab7;color: #fff;}


.border-bottom{border-bottom:1px solid #eee; padding-bottom: 15px; margin-bottom: 15px;}